{%extends "model-page.html"%}
{%block content%}
<!-- Hero Section  -->
  <section id="hero" class="hero container">
    <div class="hero-info">
      <h1 class="hero-info-heading">Login</h1>
      <br>


      <form action="" method="POST">
          <ul class = "">
              {% if current_user.is_authenticated %}
              <p class="hero-info-subheading">you are already logged in</p>
              <br><br>
              <div class="hero-info">
                  <h1><font size="6"><a  href="{{url_for('logout')}}">logout</a></font></h1>

              </div>
              {%else%}

            <div class="hero-info">
                  <input class="hero-input" type="email" name="email" placeholder="user@email.com">

                </div><br><br>
              <div class="hero-info">
                  <input class="hero-input" type="password" name="password" placeholder="password">
                </div>

            <button type="submit" class="hero-info-button"> Enter</button><br>
            <br>
            <p class="hero-info-link"><font size="1"><a  href="/add">Create an Account</a></font></p>
              {% endif %}
          </ul>
        </form>
        </div>


    <div class="hero-img">
      <img src="static/images/12.jpg" alt="">
    </div>
  </section>
  <!-- End Hero Section  -->
{%endblock%}


