{%extends "model-page.html"%}
{%block content%}

<div class = "mid">
    <div class = "container_mid">
        <h2>Login for Access</h2>
        <form action="" method="POST">
          <ul class = "">
              {% if current_user.is_authenticated %}

              <div class="form-item">
                  <span class="material-icons">label</span>
                  <h2><a href="{{url_for('logout')}}">logout</a></h2>

              </div>
              {%else%}

            <div class="form-item">
                  <span class="material-icons">label</span>
                  <label>email:</label>
                  <input type="text" name="email">

                </div>
              <div class="form-item">
                  <span class="material-icons">label</span>
                  <label>password:</label>
                  <input type="text" name="password">
                </div>
            <br>
            <button type="submit"> Enter</button><br>
            <br>
            <p>New User ?</p> <a href="/add">Create an Account</a>
              {% endif %}
          </ul>
        </form>
    </div>
</div>

{%endblock%}