<!-- Footer section  -->
  <footer id="footer" class="footer container">
    <div class="footer-contact">
      <h1 class="footer-contact-heading">Contact With Me</h1>
      <p class="footer-contact-info">Email: luiz.citu@gmail.com</p>
      <p class="footer-contact-info">Mobile: (41) 987 *** 190</p>
    </div>
    <div class="footer-social-follow">
      <h1 class="footer-social-follow-heading">Follow Me</h1>
      <div class="footer-social-icon">
        <a href="https://github.com/FerLK"><i class="fab fa-github"></i></a>
        <a href="https://www.instagram.com/fer.stl/"><i class="fab fa-instagram-square"></i></a>
        <a href="https://twitter.com/lfkraft"><i class="fab fa-twitter"></i></a>
        <a href="https://www.linkedin.com/in/luiz-fernando-kraft-gallego-736267180/"><i class="fab fa-linkedin-in"></i></a>
      </div>
    </div>
  </footer>
  <!-- End Footer section  -->
