<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Punch the Clock</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        {% include "model-header.html"%}
    </header>
    <main>
        {%block content%}
        {%endblock%}
        <section id="services" class="services container">
    <div class="services-header">
      <h1 class="services-header-heading">Clock Puch</h1>
         <div id = "clock" class="services-header-desc">
            <h1 id = "time"></h1>
            <p id = weekDay></p>
         </div>
      <p class="services-header-desc">A time clock web-software designed for employee timekeeping and export data</p>

    </div>
    <div class="services-info">
      <div class="service">
        <div class="service-card">
          <div class="service-front">
            <i class="fa fa-clock"></i>
            <h1 class="service-front-heading">Day Work</h1>
          </div>
          <div class="service-back">
            <h1 class="service-back-heading"><a href="{{url_for('add_works')}}">Day Work</a></h1>
            <p class="service-back-desc">start your daily activities</p>
          </div>
        </div>
      </div>
      <div class="service">
        <div class="service-card">
          <div class="service-front">
            <i class="fa fa-building"></i>
            <h1 class="service-front-heading">Profile</h1>
          </div>
          <div class="service-back">
            <h1 class="service-back-heading"><a href="{{url_for('profile_users')}}">Profile</a></h1>
            <p class="service-back-desc">A time clock web-software designed for employee timekeeping and exporting data</p>
          </div>
        </div>
      </div>
      <div class="service">
        <div class="service-card">
          <div class="service-front">
            <i class="fa fa-list"></i>
            <h1 class="service-front-heading">Reports</h1>
          </div>
          <div class="service-back">
            <h1 class="service-back-heading"><a href="#">Reports</a></h1>
            <p class="service-back-desc">Information and consultation of your worked days </p>
          </div>
        </div>
      </div>
    </div>
  </section>
    </main>

    <footer>
        {% include "model-footer.html"%}
    </footer>


    <script type = "application/javascript" src = "/static/clock.js"></script>

</body>



</html>