
<div class = "container_footer">
    <div class = "row_footer">
        <div class = "footer_col">
            <h4>Author</h4>
            <ul>
                <li><a href="#">About</li></a>
                <li><a href="https://github.com/FerLK">GitHub</li></a>
            </ul>
        </div>
        <div class = "footer_col">
            <h4>Projects</h4>
            <ul>
                <li><a href="https://python-rest-1.herokuapp.com/"><font size="4">Heroku - Store BackEnd</font></a></li>
                <li><a href="#"><font size="4">Under Construction</font></a></li>
            </ul>
        </div>
        <div class = "footer_col">
            <h4>Contact</h4>
            <ul>
                <li><a href="https://www.google.com/maps/place/Curitiba,+PR/@-25.4950501,-49.4298839,11z/data=!3m1!4b1!4m5!3m4!1s0x94dce35351cdb3dd:0x6d2f6ba5bacbe809!8m2!3d-25.4372382!4d-49.2699727">Adress</a></li>
                <li><a href="#">Phone</a></li>
            </ul>
        </div>
        <div class = "footer_col">
            <h4>Social</h4>
            <div class="social-links">
             <!–class="fab fa-facebook-f" –>
                <a href="https://twitter.com/lfkraft"><i class="fab fa-twitter"></i>          </a>
                <a href="https://www.instagram.com/fer.stl/"><i class="fab fa-instagram"></i>         </a>
                <a href="https://www.linkedin.com/in/luiz-fernando-kraft-gallego-736267180/"><i class="fab fa-linkedin-in"></i>      </a>
                
            </div>
        </div>
    </div>
</div>
