{%extends "model-page.html"%}
{%block content%}


<!-- Hero Section  -->
  <section id="hero" class="hero container">
    <div class="hero-info">
      <h1 class="hero-info-heading">Register </h1>
      <br><br>


      <form method="POST">
              <div class="hero-info">
                  <input class="hero-input" type="text" id="name" placeholder="name" name="name"
           minlength="4" required><br><br>


                </div>
              <div class="hero-info">
                  <input class="hero-input" type="email" id="email" placeholder="email" name="email"
           minlength="4" required><br><br>


                </div>
              <div class="hero-info">
                  <input class="hero-input" type="password" id="pass" placeholder="password"  name="password"
           minlength="4" required><br>
              </div>
              <br>
              <button type="submit" class="hero-info-button">Send</button><br>

          </form>
        </div>


    <div class="hero-img">
      <img src="static/images/12.jpg" alt="">
    </div>
  </section>
  <!-- End Hero Section  -->

{%endblock%}





