{%extends "model-page.html"%}
{%block content%}
<div class = "mid">
    <div class = "container_mid" id="reg">
        <h2>Remove User</h2>
          <form method="POST">
              {{form.hidden_tag()}}
            <h3>Insert the id:</h3>
              <br>
                  {{form.id(class_="form_control")}}
              <br>
                  {{form.submit(class_="form_control_button")}}
          </form>
          <h1>{{entry}}</h1>
          <form action="" method="GET">
            {%for user in all_users%}
            <div class = "row_mid">
             <h5>      {{user['username']}}   </h5>
             <h3>      {{user}}   </h3>
             <br>
            </div>
            {%endfor%}
          </form>
    </div>
</div>

{%endblock%}