{%extends "model-page.html"%}
{%block content%}
<!-- Hero Section  -->
  <section id="hero" class="hero container">
    <div class="hero-info">
      <h1 class="hero-info-heading">List</h1>
      <br>
       <form action="" method="GET">
            {%for user in all_users%}
            <div class = "hero-info-subheading">
                <ul>
                <h3>      {{user}}   </h3>

                </ul>
             <br>
            </div>
            {%endfor%}
          </form>
        <form action="" method="GET">
            {%for work in all_works%}
            <div class = "hero-info-subheading">
                <ul>
                <h3>      {{work}}   </h3>
                </ul>
             <br>
            </div>
            {%endfor%}
          </form>
        </div>


    <div class="hero-img">
      <img src="static/images/12.jpg" alt="">
    </div>
  </section>
  <!-- End Hero Section  -->
{%endblock%}




