{%extends "model-page.html"%}
{%block content%}


<!-- Hero Section  -->
  <section id="hero" class="hero container">
    <div class="hero-info">
      <h1 class="hero-info-heading">Profile</h1>
      <br>

      <form action="" method="POST">
          <ul class = "">
            <div class="hero-info">
                   <p class="hero-info-subheading">Name: {{name}}</p><br>
                </div>
              <div class="hero-info">
                   <p class="hero-info-subheading" >ID: {{id_}}</p><br>
                </div>
               <div class="hero-info">
                   <p class="hero-info-subheading">Worked Days: {{alltime_work}}</p><br>
                </div>

            <br>
            </ul>
            <h4 class="hero-info-label">Last Work</h4><br>

             {%for work in all_works%}
                <div class="hero-info">
                <ul>
                    <p class="hero-info-subheading">{{work}}</p><br>
                </ul>
                </div>
            {%endfor%}

        </form>
        </div>


    <div class="hero-img">
      <img src="static/images/12.jpg" alt="">
    </div>
  </section>
  <!-- End Hero Section  -->


{%endblock%}







