{%extends "model-page.html"%}
{%block content%}

  <!-- Hero Section  -->
  <section id="hero" class="hero container">
    <div class="hero-info">

    {% if not active%}
      <h1 class="hero-info-heading">Punch the Clock</h1>
      <p class="hero-info-subheading">Work Info</p>
      <form action="" method="POST">
        <p class="hero-info-subheading">Usuário: {{name}}</p>
           <div>
               <p class="hero-info-subheading">Function: <input type="text" name="name"> </p>
           </div><br>

                <div class="hero-info-input">
                    <p  class="hero-info-label">Local</p><br>

                    <span class="local"><input type = "radio"  name = "local" value = "Presential"> Presential</span><br>

                    <span class="local"><input type = "radio"  name = "local" value = "Home office"> Home Office</span><br>

                    <span class="local"><input type = "radio"  name = "local" value = "Outside"> On The Street</span>
                </div><br>

                 <div class="hero-info-input">
                    <p class="hero-info-label">Work Period</p><br>

                    <span class="local"><input type = "radio"  name = "" value = "6"> Trainee - 6h</span><br>

                    <span class="local"><input type = "radio"  name = "" value = "8"> Regular - 8h</span><br>

                    <span class="local"><input type = "radio"  name = "" value = "12"> Extra Time - 12h</span>
                </div><br><br>

             <button type="submit" class="hero-info-button"> SEND </button> <br>
           </form>

             {%else%}
         <h1 class="hero-info-heading">End the Day ?</h1>
      <p class="hero-info-subheading">Worked for >>> <a class=hero-info-label>{{time}}<a></a>
        <h1>-----</h1>
            <br>
            <form action="" method="POST">
            <div class="form-item">
             <span class="material-icons">label</span>

               <br>
            </div><br>
             <button class="hero-info-button" type="submit"> END </button> <br>
            {% endif %}
            </form>

    </div>
      <div class="hero-img">
          <img src="static/images/12.jpg" alt="">
        </div>

  </section>
  <!-- End Hero Section  -->

{%endblock%}