{%extends "model-page.html"%}
{%block content%}

<div class = "mid">
    <div class = "container_mid">
        <h2>PROFILE</h2>
        <form action="" method="POST">
          <ul class = "">
            <div class="form-item">
                  <span class="material-icons">label</span>
                   <h3>Name : {{name}}</h3>
                </div>
              <div class="form-item">
                  <span class="material-icons">label</span>
                   <h3>ID : {{id_}}</h3>
                </div>

            <br>
            </ul>

            <div class="search" id="search">
                    <h3>Search</h3>
                    <input id="date" type="date" placeholder="Search.."><br><br>
                    <button>go</button>
            </div> <br>
            <h3>{{altime_work}}</h3>
             {%for work in all_works%}
                <div class="">
                <ul>
                    <p>{{work}}</p><br>
                </ul>
                </div>
            {%endfor%}

        </form>
    </div>
</div>

{%endblock%}